[access]
	inheritFrom = All-Projects
[project]
	description = Testing Automation selenium
[access "refs/*"]
	owner = group user/SARATH MOHAN J (sarath9895)
[access "refs/for/refs/*"]
	read = group user/SARATH MOHAN J (sarath9895)
	push = group user/SARATH MOHAN J (sarath9895)
	label-Code-Review = -2..+2 group user/SARATH MOHAN J (sarath9895)
	label-Verified = -1..+1 group user/SARATH MOHAN J (sarath9895)
	rebase = group user/SARATH MOHAN J (sarath9895)
	removeReviewer = group user/SARATH MOHAN J (sarath9895)
	submit = group user/SARATH MOHAN J (sarath9895)
[access "refs/heads/*"]
	read = group user/SARATH MOHAN J (sarath9895)
	create = group user/SARATH MOHAN J (sarath9895)
	push = +force group user/SARATH MOHAN J (sarath9895)
	pushMerge = group user/SARATH MOHAN J (sarath9895)
[access "refs/tags/*"]
	push = group user/SARATH MOHAN J (sarath9895)
	push = +force group user/SARATH MOHAN J (sarath9895)
